<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <div class="d-flex">
            {% if request.user.is_authenticated %}
            <a href="{% url 'storage' %}" class="btn btn-success">
                <i class="bi bi-cart4"></i>
                Корзина
            </a>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-success">
                <i class="bi bi-cart4"></i>
                Корзина
            </a>
            {% endif %}
        </div>
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="bi bi-basket"></i>
            Prowebshop
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% include './_categories.html'%}
        <div class="d-flex column-gap-2">
            {% if not request.user.is_authenticated%}
            <a href="{% url 'login' %}" class="btn btn-success">
                <i class="bi bi-box-arrow-in-right"></i>
                Войти
            </a>
            <a href="{% url 'registration' %}" class="btn btn-warning">
                <i class="bi bi-person-plus-fill"></i>
                Регистрация
            </a>
            {% else %}
            <div class="dropdown">
                <button class="btn dropdown-toggle">
                    {{ request.user.username }}
                </button>
                <ul class="dropdown-menu">
                    <a class="dropdown-item " href="{% url 'profile' request.user.username %}">
                        <i class="bi bi-person-square"></i>
                        Профиль
                    </a>
                    <a class="dropdown-item " href="{% url 'create' %}">Продать</a>
                    <a class="dropdown-item " href="{% url 'logout' %}">
                        <i class="bi bi-box-arrow-right"></i>
                        Выйти
                    </a>
                </ul>
            </div>
            <a href="{% url 'logout' %}" class="btn btn-danger">
                <i class="bi bi-box-arrow-right"></i>
                Выйти
            </a>

            {% endif %}
        </div>
    </div>
</nav>

